<div class="bg-white border" *ngIf="(category$ | async) as category">
    <div class="row">
        <div class="col-lg-12 p-4">
            <small>
                <po-widget
                    [p-title]="category.description">

                    <po-tag
                        [p-value]="foundColor?.label"
                        [p-color]="foundColor?.value.substr(03)"
                    >
                    </po-tag>
                </po-widget>

                <div class="text-left mb-4">
                    <i categoryOwnerOnly [ownedCategory]="category" (click)="remove()" class="fa fa-trash-o fa-2x pull-right"></i>
                </div>
                <hr>
            </small>
            <span class="navbar-text">
                <a [routerLink]="['', 'categories']"> Voltar</a>
            </span>
        </div>
    </div>
</div>